---
layout: default
title: Shanghai Ruby User Group
---
<div class="posts">
{% for post in site.posts %}
	<div class="post">
		<div class="row">
		  <div class="col-md-8"><h1 class="post-header"><a href="{{ post.url }}" class="post-title">{{ post.title }}</a></h1></div>
		  <div class="col-md-4"><h2 class="content-subhead"><small>{{ post.date | date_to_string }}</small></h2></div>
		</div>
		<div class="row">
			
				{% for category in post.categories %}
				<u>#{{ category }}</u>&nbsp;
				{% endfor %}
			
		</div>
		<div class="lead">
	            <p>
	                {{ post.excerpt }}...
	            </p>
	    </div>
	</div>
<hr>
{% endfor %}
</div>